.rotate-x
	.rotate-y
		.rotate-z
			.cube
				.panel.panel-top
					%div
					%div
					%div
					%div
					%div
					%div
					%div
					%div
					%div
				.panel.panel-bottom
					%div
					%div
					%div
					%div
					%div
					%div
					%div
					%div
					%div
				.panel.panel-left
					%div
					%div
					%div
					%div
					%div
					%div
					%div
					%div
					%div
				.panel.panel-right
					%div
					%div
					%div
					%div
					%div
					%div
					%div
					%div
					%div
				.panel.panel-front
					%div
					%div
					%div
					%div
					%div
					%div
					%div
					%div
					%div
				.panel.panel-back
					%div
					%div
					%div
					%div
					%div
					%div
					%div
					%div
					%div
