name: Publish package to pub.dev
on:
  push:
    tags:
      - v*
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: dart:2.16
    steps:
      - uses: actions/checkout@v2
      - run: pub get
      - run: dart tool/check_version.dart ${GITHUB_REF}
      - name: Setup credentials
        run: |
          mkdir -p ~/.pub-cache
          cat <<EOF > ~/.pub-cache/credentials.json
          {
            "accessToken":"${{ secrets.OAUTH_ACCESS_TOKEN }}",
            "refreshToken":"${{ secrets.OAUTH_REFRESH_TOKEN }}",
            "tokenEndpoint":"https://accounts.google.com/o/oauth2/token",
            "scopes": [ "openid", "https://www.googleapis.com/auth/userinfo.email" ],
            "expiration": 1580681402856
          }
          EOF
      - name: Publish package
        run: pub publish --force
